<app-page-header title="Aufgabe 2" />
<ion-toolbar>
    <ion-title>AUFGABE {{ task.index }}</ion-title>
  </ion-toolbar>

<ion-content [fullscreen]="true">

  <div class="task-page">

    <section class="task-card">

      <div class="task-meta text-secondary">
        <div>
          AUFGABE {{ task.index }} / {{ task.total }} •
        </div>

        <div>
          {{ task.timer }}
        </div>
      </div>

      <h2>{{ task.title }}</h2>

      <p class="text-secondary">
        {{ task.description }}
      </p>

    </section>


    <section class="task-card location-card">

      <div class="location-left">

        <div class="pin-wrapper">🏃</div>

        <div>

          <div class="location-title">
            {{ task.distanceLabel }}
          </div>

          <div class="location-subtitle text-secondary">
            {{ task.distance }} / {{ task.targetDistance }}
          </div>

        </div>

      </div>

      <div class="bonus-pill">
        {{ task.bonusTime }}
      </div>

    </section>


    <section class="task-card">

      <div class="hint-label text-secondary">
        Hinweis
      </div>

      <div class="hint-text">
        {{ task.hint }}
      </div>

    </section>

  </div>


  <div class="task-actions">

    <ion-button expand="block" fill="outline">
      ⏭️ Überspringen
    </ion-button>

    <ion-button expand="block" fill="outline">
      ❌ Abbrechen
    </ion-button>

  </div>

</ion-content>
