<ion-content [fullscreen]="true">

  <div class="start-wrapper">

    <div class="logo">
      <span class="logo__emoji">🏃</span>
    </div>

    <h1>Schnitzel<span class="title__accent">jagd</span></h1>

    <p>Bereit für das Abenteuer?</p>

    <ion-button expand="block" class="btn-start" (click)="onStart()">
      🚀 Schnitzeljagd starten
    </ion-button>

    <ion-button expand="block" fill="outline" class="btn-leaderboard" (click)="navigateToLeaderboard()">
      👑 Leaderboard
    </ion-button>

  </div>

</ion-content>
