<ion-content [fullscreen]="true">

  <div class="start-wrapper">

    <div class="logo">
      <img src="assets/img/runner.png" class="logo__image" alt="Runner Logo">
    </div>

    <div class="ion-display-flex ion-flex-column ion-align-items-start">
      <h1>Schnitzel<span class="title__accent">jagd</span></h1>
      <p class="text-secondary">Bereit für das Abenteuer?</p>
    </div>

    <ion-button class="btn-start" (click)="onStart()">
      Schnitzeljagd starten
    </ion-button>

    <ion-button fill="outline" class="btn-leaderboard" (click)="goToLeaderboardPage()">
      Leaderboard
    </ion-button>

  </div>

</ion-content>
