ion-card {
  margin: 0;
  background: rgba(172, 191, 164, 0.03);
  border: 1px solid rgba(172, 191, 164, 0.125);
  border-radius: 1rem;

  &.locked {
    opacity: 0.45;

    .task-card__icon ion-icon {
      color: var(--ion-text-color-secondary);
    }
  }

  &.active {
    border: 1px solid rgb(255, 127, 17);
    background: rgba(255, 127, 17, 0.03);

    .task-card__icon {
      background: rgba(255, 127, 17, 0.125);
    }
  }
}

ion-card-content {
  padding: 1.25rem;
}

.task-card {
  display: flex;
  align-items: center;
  gap: 1rem;

  &__icon {
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(168, 189, 159, 0.125);
    border-radius: var(--ion-border-radius-small);

    ion-icon {
      font-size: 24px;
      color: var(--ion-text-color);
    }
  }

  &__content {
    flex: 1;
    min-width: 0;
  }

  &__title {
    font-size: 1rem;
    font-weight: 600;
    color: var(--ion-text-color);
    margin: 0 0 0.25rem 0;
  }

  &__description {
    font-size: 0.875rem;
    color: var(--ion-text-color-secondary);
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__status {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
  }

  &__badge {
    padding: 0.4rem 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--ion-border-radius);
    background: rgba(168, 189, 159, 0.125);
    font-size: .85rem;

    &--active {
      background: rgba(255, 127, 17, 0.125);
      color: var(--ion-color-primary);
    }
  }

  &__completed-badge {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-weight: 600;

    ion-icon {
      font-size: 20px;
    }
  }

  &__lock {
    font-size: 20px;
    color: var(--ion-text-color-secondary);
  }
}
