<ion-card [class.locked]="task.status === 'locked'" [class.active]="task.status === 'active'" (click)="onCardClick()" [class.clickable]="task.status === 'active'">
  <ion-card-content>
    <div class="task-card">
      <div class="task-card__icon">
        <ion-icon [name]="task.ionicIconName"></ion-icon>
      </div>

      <div class="task-card__content">
        <h3 class="task-card__title">{{ task.title }}</h3>
        <p class="task-card__description">{{ task.description }}</p>
      </div>

      <div class="task-card__status">
        @if (task.status === 'active') {
          <ion-badge class="task-card__badge task-card__badge--active">
            Aktiv
          </ion-badge>
        }

        @if (task.status === 'completed') {
          <ion-badge class="task-card__badge">
            <ion-icon name="checkmark"></ion-icon>
          </ion-badge>
        }

        @if (task.status === 'locked') {
          <ion-icon name="lock-closed" class="task-card__lock"></ion-icon>
        }
      </div>
    </div>
  </ion-card-content>
</ion-card>
