  <ion-header [translucent]="true">
    <app-page-header title="Berechtigungen" />
    <ion-toolbar>
      <ion-title>Berechtigungen</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-text>Folgende Berechtigungen werden von uns benötigt
      um eine unbeschwerte Schnitzeljagd zu erleben
    </ion-text>
    <ion-list>
      <ion-item>
        <ion-card>
          <ion-img slot="start"></ion-img>
          <ion-label>Standort</ion-label>
          <ion-toggle slot="end"></ion-toggle>
        </ion-card>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-button>Weiter</ion-button>
    </ion-toolbar>
  </ion-footer>

