.page-header {
  background: var(--ion-color-primary);
  height: 4rem;
  width: 100%;
  color: white;
  font-weight: 800;
  text-transform: uppercase;
  display: flex;
  flex-direction: column-reverse;
  padding: .4rem 1rem;
  letter-spacing: 2px;
}
